<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.nacha.repository.dao.AccountMapper">
    <!-- 家計簿情報の取得 -->
    <select id="select" resultType="com.example.nacha.repository.entity.AccountEntity">
        select
            ma.account_id
            ,ma.group_id
            ,ma.category_id
            ,ma.note
            ,ma.amount
            ,ma.account_datetime
            ,ma.user_id
        from 
            m_account ma
        where 
            ma.logical_delete_flag = false
        <if test="groupId != null and groupId != ''">
        and ma.group_id = #{groupId}
        </if>
        <if test="acquisitionMonth != null and acquisitionMonth != ''">
        and ma.account_datetime like concat('%', #{acquisitionMonth}, '%')
        </if>
        <if test="accountId != null and accountId != ''">
        and ma.account_id = #{accountId}
        </if>
        ;
    </select>

    <!-- 家計簿情報の登録 -->
    <insert id="regist"
        parameterType="java.util.List" useGeneratedKeys="true" keyProperty="accountId">
        insert into m_account(
            group_id
            , category_id
            , note
            , amount
            , account_datetime
            , user_id
        )values(
            #{entity.groupId}
            ,#{entity.categoryId}
            ,#{entity.note}
            ,#{entity.amount}
            ,#{entity.accountDatetime}
            ,#{entity.userId}
        );
    </insert>

    <!-- 家計簿情報の削除 -->
    <delete id="delete">
        delete from m_account where account_id = #{accountId}
    </delete>

</mapper>