<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.nacha.repository.dao.UserMapper">
  <!-- ユーザ情報の取得 -->
  <select id="select" resultType="com.example.nacha.repository.entity.UserEntity">
    select
      user_id
      ,user_name
      ,update_datetime
    from
      m_user mu
    <where>
      <if test="userId != null and userId != ''">
        mu.user_id = #{userId}
      </if>
    </where>
  </select>

  <!-- グループに紐づくユーザ情報の取得 -->
  <select id="selectByGroupId" resultType="com.example.nacha.repository.entity.UserEntity">
    select 
      mu.user_id
      ,mu.user_name
    from
      m_user mu
    inner join c_group_user cgu
      on mu.user_id = cgu.user_id
    where
      cgu.group_id = #{groupId}
  </select>

  <!-- ユーザー情報の登録 -->
  <insert id="regist" useGeneratedKeys="true" keyProperty="userId">
    insert into 
        m_user(
            user_name
        ) 
    values
      (
        #{entity.userName}
      )
  </insert>

  <!-- ユーザー情報の更新 -->
  <update id="update">
    update
      m_user
    set
      user_name = #{entity.userName}
      ,update_datetime = #{entity.updateDatetime}
    where
      user_id = #{entity.userId}
  </update>

  <!-- ユーザー情報の削除 -->
  <delete id="delete">
    delete from m_user where user_id = #{userId}
  </delete>
</mapper>